.paris-populaire-app {
  background: red;
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  margin-top: 100px;
}

.paris-populaire-app.paris-populaire-app_fetching {
  background: blue; 
}

.paris-populaire-app__intro,
.paris-populaire-app__map {
  display: none;
}

.paris-populaire-app__intro {
  background: coral;
}

/* States */
.paris-populaire-app_show-intro
  .paris-populaire-app__intro {
    display: block;
}

.paris-populaire-app_show-map
  .paris-populaire-app__map {
    display: block;
}

.libe-map {
  width: 100%;
  height: 600px;
}

.libe-map .leaflet-container {
  width: 100%;
  height: 100%;
}
